body{
    background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
    text-align: center;
    margin-top: 50px;
}
f
.container{
    background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
    width: auto;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;
    
}
input{
    max-width:400px;
	width: 80%;
  line-height:3em;
  font-family: 'Ubuntu', sans-serif;
  margin:0.1em ;
  border-radius:10px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}
button{
    border: none;
  background-color: #fff;
  border-radius: 100px;
  height:30px;
  width:100px;
    
}
button:hover{
    background-color: #8f8b8b;
}
h1{
    color:#fff;
  text-align:center;
  font-size:300%;
}
.Login{
  color:#f2f2f2;
  margin-left:-30%;
  cursor:pointer;
  text-decoration:underline;
}
.Login:hover{
  color: rgb(244, 149, 6);
}